h1{
    color: white;
    text-align: center;
    background: teal;
    padding: 5px;
}
body{
    background: linear-gradient(to bottom right, lemonchiffon, white);
}
.column1{
    width: 48%;
    float: left;
}

.column2 {
    width: 48%;
    float: right;
}
.photo{
    max-width: 50%;
    transform: rotate(10deg);
    box-shadow: 4px 4px 4px grey;
}

h2{
    color: white;
    background: teal;
    padding: 5px;
    margin: 0px 0px 10px 0px;
    box-shadow: 2px 2px 2px grey;
    text-align: center;
}
.item{
    padding: 10px;
    margin-bottom: 10px;
    border: 3px dashed teal
}