@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

body{
 font-family:  14px “Roboto“,sans-serif;;
 color: white 5px;
margin: 0 auto;
padding: 0 auto;
width: 80%;

}
header {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('header-bg.png') no-repeat top;
    background-size: cover;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 20px 0;
}